/*
|--------------------------------------------------------------------------
| Admin Stylesheet
|--------------------------------------------------------------------------
*/

.developed-by {
  --link-color: #3858e9;
  --link-color-hover: #000;
  --border-color: #3858e9;
}

.developed-by a {
  position: relative;
  text-decoration: none;
  color: var(--link-color);
}

.developed-by a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  content: '';
  border-bottom: 2px solid var(--border-color);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.developed-by a:hover {
  color: var(--link-color-hover);
}

.developed-by a:hover::after {
  left: 0;
  width: 100%;
  margin-left: 0;
}

.brumm {
  padding-left: 4px;
  display: inline-block;
  font-size: 75%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  transition-delay: 0.1s;
  animation: brumm 490ms;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.developed-by a:hover + .brumm {
  visibility: visible;
  opacity: 1;
}

@keyframes brumm {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}
